/* Old di-load.css */

.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th
	{
	background-color: #f9f9f9;
}


.versionmanagementbody {
	font-family: 'Open Sans', Helvetica, sans-serif;
	height: 100%;
}


table {
	table-layout: fixed;
}

.ui-progressbar {
    position: relative;
}
  
.progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
  
.lead {
	font-size: 15px;
}

* {
  border-radius: 0px !important;
}

th,td {
	border: 1px solid black;
	overflow: hidden;
	width: 100px;
}

jumbotron {
	font-size: 80%;
}

 .centered {
	text-align: center;
}

.jumbotron {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

#metadata {
	font-size: 100%;
	size: 100%
}

.fixed_width {
	height: auto;
	width: auto;
}

.container .text-muted {
	margin: 20px 0;
}

.container {
	width: auto;
	max-width: 1000px;
	padding: 0 15px;
}


.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.form-control {
	border: 1px solid;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.0;
	text-align: center;
	white-space: normal;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 0px;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.main-btn {
	width: 150px;
	height: 70px;
}


.modal-body {
	height: 1800px;
}

.modal-dialog {
	width: 800px;
	margin: 30px auto;
	text-align: center;
	height: 300px;
    overflow: scroll;
}

.knoware-address {
	text-align: center;
}

.login {
	text-align: center;
}


.page-title {
	text-align: center;
}

.jumbotron h1 {
	font-size: 40px;
}

.lead {
	font-size: 15px;
}