<?php
    
$db = [
        "world"       => [
                                "host"          => "localhost",
                                "port"          => "",
                                "user"          => "root",
                                "password"      => "",
                                "database"      => [
                                                        "world"     => "world"
                                                   ]
                         ],
        "suntools"    => [
                                "host"          => "localhost",
                                "port"          => "",
                                "user"          => "root",
                                "password"      => "",
                                "database"      => [ 
                                                        "world"     => "world"
                                                        "suntools"  => "suntools",
                                                        "dbc"       => "dbc"
                                                   ]
                         ]
    ];