<div>
    <div class="container">
        <table class="table table-striped table-hover">
            <tr><th>ID</th><th>Base</th><th>Mod</th><th>Min</th></tr>
            <tr><td>1</td><td>0</td><td>0</td><td>0</td></tr>
            <tr><td>2</td><td>250</td><td>0</td><td>250</td></tr>
            <tr><td>3</td><td>500</td><td>0</td><td>500</td></tr>
            <tr><td>4</td><td>1000</td><td>0</td><td>1000</td></tr>
            <tr><td>5</td><td>2000</td><td>0</td><td>2000</td></tr>
            <tr><td>6</td><td>5000</td><td>0</td><td>5000</td></tr>
            <tr><td>7</td><td>10000</td><td>0</td><td>10000</td></tr>
            <tr><td>8</td><td>20000</td><td>0</td><td>20000</td></tr>
            <tr><td>9</td><td>30000</td><td>0</td><td>30000</td></tr>
            <tr><td>10</td><td>1000</td><td>-100</td><td>500</td></tr>
            <tr><td>11</td><td>2000</td><td>-100</td><td>1000</td></tr>
            <tr><td>12</td><td>5000</td><td>-100</td><td>2500</td></tr>
            <tr><td>13</td><td>30000</td><td>-1000</td><td>10000</td></tr>
            <tr><td>14</td><td>3000</td><td>0</td><td>3000</td></tr>
            <tr><td>15</td><td>4000</td><td>0</td><td>4000</td></tr>
            <tr><td>16</td><td>1500</td><td>0</td><td>1500</td></tr>
            <tr><td>18</td><td>-1000000</td><td>0</td><td>-1000000</td></tr>
            <tr><td>19</td><td>2500</td><td>0</td><td>2500</td></tr>
            <tr><td>20</td><td>2500</td><td>0</td><td>2500</td></tr>
            <tr><td>21</td><td>2600</td><td>0</td><td>2600</td></tr>
            <tr><td>22</td><td>3500</td><td>0</td><td>3500</td></tr>
            <tr><td>23</td><td>1800</td><td>0</td><td>1800</td></tr>
            <tr><td>24</td><td>2200</td><td>0</td><td>2200</td></tr>
            <tr><td>25</td><td>2900</td><td>0</td><td>2900</td></tr>
            <tr><td>26</td><td>3700</td><td>0</td><td>3700</td></tr>
            <tr><td>27</td><td>4100</td><td>0</td><td>4100</td></tr>
            <tr><td>28</td><td>3200</td><td>0</td><td>3200</td></tr>
            <tr><td>29</td><td>4700</td><td>0</td><td>4700</td></tr>
            <tr><td>30</td><td>4500</td><td>0</td><td>4500</td></tr>
            <tr><td>31</td><td>2300</td><td>0</td><td>2300</td></tr>
            <tr><td>32</td><td>7000</td><td>0</td><td>7000</td></tr>
            <tr><td>33</td><td>5125</td><td>-125</td><td>3000</td></tr>
            <tr><td>34</td><td>8000</td><td>-175</td><td>4000</td></tr>
            <tr><td>35</td><td>12500</td><td>-250</td><td>5000</td></tr>
            <tr><td>36</td><td>600</td><td>0</td><td>600</td></tr>
            <tr><td>37</td><td>25000</td><td>-400</td><td>8000</td></tr>
            <tr><td>38</td><td>45000</td><td>-500</td><td>15000</td></tr>
            <tr><td>39</td><td>50000</td><td>-500</td><td>25000</td></tr>
            <tr><td>50</td><td>1300</td><td>0</td><td>1300</td></tr>
            <tr><td>70</td><td>300000</td><td>0</td><td>300000</td></tr>
            <tr><td>90</td><td>1700</td><td>0</td><td>1700</td></tr>
            <tr><td>91</td><td>2800</td><td>0</td><td>2800</td></tr>
            <tr><td>110</td><td>750</td><td>0</td><td>750</td></tr>
            <tr><td>130</td><td>1600</td><td>0</td><td>1600</td></tr>
            <tr><td>150</td><td>3800</td><td>0</td><td>3800</td></tr>
            <tr><td>151</td><td>2700</td><td>0</td><td>2700</td></tr>
            <tr><td>152</td><td>3100</td><td>0</td><td>3100</td></tr>
            <tr><td>153</td><td>3400</td><td>0</td><td>3400</td></tr>
            <tr><td>170</td><td>8000</td><td>0</td><td>8000</td></tr>
            <tr><td>171</td><td>6000</td><td>0</td><td>6000</td></tr>
            <tr><td>190</td><td>100</td><td>0</td><td>100</td></tr>
            <tr><td>191</td><td>0</td><td>0</td><td>0</td></tr>
            <tr><td>192</td><td>15000</td><td>0</td><td>15000</td></tr>
            <tr><td>193</td><td>12000</td><td>0</td><td>12000</td></tr>
            <tr><td>194</td><td>-1000000</td><td>0</td><td>1500</td></tr>
            <tr><td>195</td><td>1100</td><td>0</td><td>0</td></tr>
            <tr><td>196</td><td>750</td><td>0</td><td>0</td></tr>
            <tr><td>197</td><td>850</td><td>0</td><td>0</td></tr>
            <tr><td>198</td><td>900</td><td>0</td><td>0</td></tr>
            <tr><td>199</td><td>333</td><td>0</td><td>333</td></tr>
        </table>
    </div>
</div>