<div>
    <script>
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <div class="col-xs-4">
        <ul class="breadcrumb breadcrumb-back-widget">
            <li data-bind="if: parentRoute">
                <a href="#" data-bind="click: navigateToParent">
                    <h5>
                        <i class="ace-icon fa fa-chevron-left"></i>
                        <span class="hidden-xs">{{{parentRoute().title}}}</span>
                    </h5>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
        <h4 class="text-center col-xs-12">
            <span>{{viewTitle}}</span>
        </h4>
    </div>
</div>