<link rel="stylesheet" href="css/navbar.css" />
<div>
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <i data-bind="attr: { class: app.icon }"></i>
                <small data-bind="text: app.title">
                    SunTools <!-- placeholder -->
                </small>
            </a>
            <div class="main-throbber navbar-brand active">
                <i class="fa-spinner" data-bind="css: {'ace-icon fa fa-spin': router.isNavigating }">
                </i>
            </div>
        </div>
    </div>
</div>