<div>
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts dropdown-toggle" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-warning no-border" data-bind="click: navigateToHome">
                <i class="menu-icon fa fa-home"></i>
            </button>
            <button class="btn btn-info no-border" data-bind="click: refreshPage">
                <i class="menu-icon fa fa-refresh"></i>
            </button>
            <button class="btn btn-info no-border" data-bind="click: navigateBack">
                <i class="menu-icon fa fa-chevron-left"></i>
            </button>
            <button class="btn btn-info no-border" data-bind="click: navigateForward">
                <i class="menu-icon fa fa-chevron-right"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-warning"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-info"></span>
        </div>
    </div>

    <ul class="nav nav-list" data-bind="foreach: router.navigationModel">
        {{#if $data.childRoutes === undefined && $data.parent === undefined}}
        <li data-bind="css: { active: isActive, hidden: !nav}">

            <a href="{{hash}}">
                {{#if iconClass !== undefined}}
                    <i class="{{iconClass}}"></i>
                {{/if}}
                <span class="menu-text">{{title}}</span>
            </a>

            <b class="arrow"></b>
        </li>
        {{/if}}
        {{#if $data.childRoutes !== undefined}}
        <li data-bind="css: { active: isActive }, if: nav" class="hsub">
            <a href="{{hash}}" class="dropdown-toggle">
                {{#if iconClass !== undefined}}
                    <i class="{{iconClass}}"></i>
                {{/if}}
                <span class="menu-text">{{title}}</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu nav-show" data-bind="foreach: childRoutes">
                {{#if nav}}
                    <li><a href="{{hash}}" data-bind="css: { active: isActive }" class="menu-text">{{title}}</a></li>
                {{/if}}
            </ul>

            <b class="arrow"></b>
        </li>
        {{/if}}
    </ul>

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>